version: '3.5'
services:
    db:
        container_name: postgres
        image: postgres:latest
        hostname: db
        environment:
            - POSTGRES_USER=your name
            - POSTGRES_PASSWORD=your password
            - POSTGRES_DB=shelfer_api
            - POSTGRES_HOST=db
        ports:
            - 5432:5432
        restart: always
    app:
        container_name: shelfer-api
        tty: true
        build: 
            context: .
            target: builder
        ports:
            - "8080:8080"
        environment:
            - DB_USER=your dbname
            - DB_PASS=your password
            - DB_NAME=shelfer_api
        depends_on:
            - db
        command: ./bin/main
        links:
            - db